<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/admin">
        <img
            src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
            alt="logo"
        />
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button
            class="p-link layout-topbar-button"
            (click)="profile.toggle($event)"
        >
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <p-menu #profile [popup]="true" [model]="profileMenuOptions"></p-menu>

        <button
            class="p-link layout-topbar-button"
            [routerLink]="'/admin/documentation'"
        >
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>
