<div
    class="flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div
        class="surface-card p-4 shadow-2 border-round w-full lg:w-6 h-full lg:h-6"
        style="max-width: 500px"
    >
        <div class="text-center mb-5">
            <img
                src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31"
                alt="logo"
                class="mb-5"
                style="width: 120px"
            />
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        </div>

        <div>
            <label for="email" class="block text-900 font-medium mb-2">
                Email
            </label>
            <input
                id="email"
                type="text"
                pInputText
                class="w-full mb-3"
                [(ngModel)]="email"
                name="email"
            />

            <label for="password1" class="block text-900 font-medium mb-2">
                Password
            </label>
            <p-password
                id="password"
                [(ngModel)]="password"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="w-full mb-3"
            ></p-password>

            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox
                        id="rememberme"
                        [binary]="true"
                        styleClass="mr-2"
                    ></p-checkbox>
                    <label for="rememberme" class="text-900">Remember me</label>
                </div>
                <a
                    class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
                >
                    Forgot password?
                </a>
            </div>

            <button
                pButton
                pRipple
                label="Sign In"
                [icon]="loading ? 'pi pi-spin pi-spinner' : 'pi pi-sign-in'"
                class="w-full"
                [disabled]="!email || !password"
                (click)="onSignIn()"
            ></button>
        </div>
    </div>
</div>
